body {
  margin: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

svg-container,
svg {
  padding-right: 15em;
  width: 90%;
  animation: fadein 1s linear forwards;
  text-align: center;
  fill: rgb(222, 222, 222);
  font-size: 13pt;
  line-height: 2.1;
}

@keyframes fadein {
  from {
    opacity: 20%;
  }

  to {
    opacity: 100%;
  }
}

text {
  fill: rgb(222, 222, 222);
  font-size: 13pt;
  line-height: 2.1;
  animation: movePath 2s linear infinite;
}

@keyframes movePath {
  from {
    startOffset: 100%;
  }

  to {
    startOffset: 0;
  }
}